html,
body {
  padding: 0;
  margin: 0;
}
.fullscreen {
  background-color: #fff;
}

.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
}

.page {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  z-index: 10;
}

.page__bg-image {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  opacity: 0.1;
  width: 100%;
  height: 100%;
}

.page__bg-image-conatiner {
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-table {
  max-width: 75%;
  margin: 0 auto;
}

.main-table-title {
  font-size: 32px !important;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-table-subtitle {
  font-size: 20px !important;
  text-align: center;
  padding-left: 10px;
  padding-top: 4px;
}

.main-table td,
.main-table th {
  padding: 4px;
  font-size: inherit;
  border-color: #00000028;
}

.full-screen {
  bottom: 24px;
  right: 24px;
  position: fixed !important;
}

div.slider-item {
  width: 100%;
  height: 100vh;
}

div.slider-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-root {
  position: relative;
  z-index: 10;
}

td.table-subtitle {
  font-weight: 500;
  text-align: center;
}

td.table-column-price {
  font-weight: 500;
}

td.table-column-price,
td.table-column-weight,
td.table-column-kkal {
  min-width: 60px;
}

.table-container--2 {
  display: flex;
}

.table-container--2 .main-table {
  margin: 20px;
}

.table-container--2 .main-table td.table-column-price,
.table-container--2 .main-table td.table-column-weight,
.table-container--2 .main-table td.table-column-kkal {
  min-width: 0;
}
